body{
    background-color: cadetblue;
    margin: 0%;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

main {
    flex: 1;
}

section {
display: flex;
justify-content: space-evenly;
border-radius: 5px;
background-color: #dddcdc;
height: 450px; 
width: 850px;
margin-left: auto;
margin-right: auto;
}

img {
height: 450px;
width: 850px;
display: block;
margin-left: auto;
margin-right: auto;
border: 5px solid skyblue;
}

.center {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90;
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Silkscreen', cursive;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a {
    display: block;
    line-height: 1.8;
    width: 270px;
}

span {
    display: block;
    line-height: 1.8;
    width: 270px;
}

.container {
    width: 270px;
}